<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Durham College\Winter Sem\NETD-3202\PieceWork\PieceWork\WorkerDatabase.mdf;Integrated Security=True;Connect Timeout=30"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>